<div class="question-show">
<%= render 'voting', object: @question, class_name: 'question' %> 
	<div class="question-body" data-id="<%= @question.id %>">	
		<h1> <%= @question.title %></h1>
		<p class="question-author"> by <%= link_to @user.username, @user %>  </p>
		<p><%= @question.content %></p>
		<div class="tags">
			<% @question.tags.each do |tag| %> 
				<li class="tag"> 
					<%= link_to "##{tag.content}" , tag_path(tag) %> 
				</li>
			<% end %>
		</div>
	</div>
	<div class="answer-form">
	<h2>Your answer</h2>
		<%= form_for [@question, @answer] do |f| %>
			<%= f.hidden_field :question_id, value: @question.id %> 
			<%= f.text_area :body %> 
			<%= f.submit "submit answer", class: 'button' %>  
		<% end %>
	</div>  

	<section class="answers-list">
		<h2> <%= pluralize(@question.answers.count, 'Answer') %> </h2>
		<% @answers.each do |answer| %>
			<div class="answer-body" data-id="<%= answer.id %>">
				<%= render 'voting', object: answer, class_name: 'answer' %>
				<span class="<% if answer.is_solution %>solution<% end %> star "> &#9733; </span>
				<p><%= answer.body %> <small> posted <%= time_ago_in_words(answer.created_at) %> ago by <%= answer.user.username %> </small></p>
			</div>
		<% end %>  
	</section> 	
</div>