<% if current_user.admin %>
	<button> <%= link_to 'Slips', '/slips'%> </button>
<% end %>

<button> <%= link_to 'Ask a Question', questions_path %> </button> 
<!-- review questions will be users' posts equivalent -->

<button> <%= link_to 'Learning Objectives', topics_path%> </button>

<section class="questions-list">
<h1> Latest Posts </h1>
		<% @question.each do |question| %>
			<div>
				<h2><%= link_to question.title, question_path(question) %> <small> by <%= question.user.username %>  </small></h2>
				<% question.tags.each do |tag| %> 
					<small><%= link_to "##{tag.content}", tag_path(tag) %></small>  
				<% end %> 
			</div>
		<% end %> 
</section>