<h1><%= @topic.title%></h1>

<% if current_user.admin %> 
	<form>
		<input type="text" class="question-content" data-title="<%= @topic.id %> ">
	</form>
<% end %> 

<div class="questions">
	<% @questions.each do |question| %>
		<p data-id="<%= question.id %> "> 
			<%= question.content %>  <span class="delete">x</span>
		</p>
	<% end %>	
</div>

<%= link_to 'Back to topics', topics_path %> 