<section class="topic-show">
	<h1><%= @topic.title%></h1>

	<% if current_user.admin %> 
		<form>
			<input type="text" class="objective-content">
			<input type="submit" class="button">
		</form>
	<% end %> 

	<div class="objectives" data-id="<%= @topic.id %> ">
		<% @objectives.each do |objective| %>
			<div class="single-objective"> 
			<p>
				<%= objective.content %> 
			</p>
			<% if current_user.admin %> 
			<span class="delete small-button" data-id="<%= objective.id %>">x</span>
			<% end %> 
			</div>
		<% end %>	
	</div>

	<%= link_to 'Back to topics', topics_path, class: 'button' %> 
</section>