<h1><%= @topic.title%></h1>

<% if current_user.admin %> 
	<form>
		<input type="text" class="objective-content" data-title="<%= @topic.id %> ">
	</form>
<% end %> 

<div class="objectives">
	<% @objectives.each do |objective| %>
		<p data-id="<%= objective.id %> "> 
			<%= objective.content %>  <span class="delete">x</span>
		</p>
	<% end %>	
</div>

<%= link_to 'Back to topics', topics_path %> 