<section class="topic-show">
	<h1><%= @topic.title%></h1>

	<% if current_user.admin %> 
		<form>
			<input type="text" class="objective-content">
			<input type="submit" class="button">
		</form>
	<% end %> 

	<div class="objectives" data-id="<%= @topic.id %> ">
		<% @objectives.each do |objective| %>
			<p class="single-objective" data-id="<%= objective.id %>"> 
				<%= objective.content %>  <span class="delete small-button">x</span>
			</p>
		<% end %>	
	</div>

	<%= link_to 'Back to topics', topics_path %> 
</section>