<!DOCTYPE html>
<html>
<head>
  <title>Slips</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<h1> <%= link_to 'wdidc-4', '/' %> </h1>
		<% if user_signed_in? %>
		<%= link_to 'sign out', destroy_user_session_path, method: :delete %>  
		<% end %> 
	</header>
	<section class="<%= controller_name %> <%= action_name%>">
		<%= yield %>
	</section>

	<footer> for bugs, email </footer>

</body>
</html>
