<!DOCTYPE html>
<html>
<head>
  <title>Slips</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %> 
	<section class="wrapper <%= controller_name %> <%= action_name%>">
		<%= yield %>
	</section>

  <%= javascript_include_tag 'application'%>
</body>
</html>
